.navbar {
    justify-content: center;
}

.content {
    padding: 25px;
}

body {
    background: rgb(195, 186, 238);
    background: linear-gradient(90deg, rgba(195, 186, 238, 1) 0%, rgba(239, 236, 243, 1) 59%, rgba(221, 223, 252, 1) 100%);
}

.card {
    display: flex;
    align-items: center;
}

.glass {
    margin: 10px 20px;
    padding: 15px;
    height: 250px;
}

/* giving display flex so that our card can be arranged in :horizontal manner  */
.cardContainer {
    display: flex;
    flex-direction: row;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}